#information_section .header-secondary {
    display: block;
    text-align: initial;
    overflow: hidden;
}

#information-status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 51px;

    overflow: hidden;
    z-index: -1;
}

#information-status.loading-system,
#information-status.loading-list,
#information-status.nocontent-system,
#information-status.nocontent-list {
    z-index: 20;
}

#information-status.loading-system,
#information-status.nocontent-system {
    top: 44px;
}

#information-status.loading-list,
#information-status.nocontent-list {
    top: 74px;
}

#information-status .information-statu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    background: #E4E4E4;
    transition: .3s;
    z-index: 1;
}

#information-status.loading-system #information-loading-system {
    opacity: 1;
    z-index: 2;
}

#information-status.loading-list #information-loading-list {
    opacity: 1;
    z-index: 2;
}

#information-status.nocontent-system #information-nocontent-system {
    opacity: 1;
    z-index: 2;
}

#information-status.nocontent-list #information-nocontent-list {
    opacity: 1;
    z-index: 2;
}

#information-loading-system>div,
#information-loading-list>div,
#information-nocontent-system>div,
#information-nocontent-list>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;
    height: 20%;

    color: #666;
    text-align: center;
}

#information-loading-system>div,
#information-loading-list>div {
    left: 50%;
    margin-left: -9px;
}

#information-category {
    overflow: hidden;
    width: calc(100% - 30px);
    overflow: hidden;
}

#information-category ul {
    padding-left: 5px;
    overflow: hidden;
}

#information-category li {
    display: inline-block;
    transition: .5s;
}

#information-category li.active {
    background: #CD7D7E;
}

#information_section article {
    background: #E4E4E4;
}
